.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    padding: 4px;
}

.panel:hover {
    background-color: var(--hover-background-color);
}

.name {
    flex: 1 1 auto;
    font-size: 12px;
    user-select: none;
    text-wrap: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding: 0px 8px;
}

.parent-hidden {
    opacity: 0.56;
}
